<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="jszxEntities" connectionString="metadata=res://*/JszxDM.csdl|res://*/JszxDM.ssdl|res://*/JszxDM.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=127.0.0.1;user id=root;password=xia123.;persist security info=True;database=jszx_db&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <system.serviceModel>
        <client>
            <endpoint address="net.tcp://127.0.0.1:5813/jszxservice" binding="netTcpBinding"
                bindingConfiguration="" contract="SyglService.Interface.IJszxService"
                name="HostClient" kind="" endpointConfiguration="">
                <identity>
                    <certificateReference storeName="My" storeLocation="LocalMachine"
                        x509FindType="FindBySubjectDistinguishedName" />
                </identity>
            </endpoint>
        </client>
        <behaviors />
        <services>
            <service name="SyglService.JszxService">
                <endpoint address="net.tcp://127.0.0.1:5813/jszxservice" binding="netTcpBinding"
                    bindingConfiguration="" name="JszxServicePoint" contract="SyglService.Interface.IJszxService" />
            </service>
        </services>
    </system.serviceModel>
</configuration>
