<?xml version="1.0"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <system.serviceModel>
        <behaviors />
        <services>
            <service name="SyglService.JszxService">
                <endpoint address="net.tcp://127.0.0.1:5813/JszxService" binding="netTcpBinding"
                    bindingConfiguration="" name="JszxPoint" contract="SyglService.IJszxService" />
            </service>
        </services>
    </system.serviceModel>
</configuration>
