<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" 
                      type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Sygl.Properties.Settings" 
                     type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" 
                     allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <system.serviceModel>
        <client>
            <endpoint address="net.tcp://127.0.0.1:5813/jszxservice" binding="netTcpBinding"
                bindingConfiguration="" contract="SyglService.Interface.IJszxService"
                name="JszxService" kind="" endpointConfiguration="">
            </endpoint>
        </client>
    <!--<bindings>
      <netTcpBinding>
        <binding>
          <security mode="None"></security>
        </binding>
      </netTcpBinding>
    </bindings>-->
    </system.serviceModel>
    <userSettings>
        <Sygl.Properties.Settings>
            <setting name="AdminAccount" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="AdminPwd" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Lab" serializeAs="String">
                <value>1</value>
            </setting>
        </Sygl.Properties.Settings>
    </userSettings>
</configuration>
